/*!
 * @author Isis (igraziatto) Graziatto <isis.g@vanillaforums.com>
 * @copyright 2009-2018 Vanilla Forums Inc.
 * @license GPL-2.0-only
 */

body {
    @include font-style-base;
    color: $global-color_fg;
}

* {
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    overflow-wrap: break-word;

    // Word break is isn't ideal, but IE 10+11 don't support the following property.
    word-break: normal;

    // `word-break: break-word` aliases to `word-wrap: break-word` in blink/webkit based browsers.
    word-break: break-word;
}

p,
span {
    padding: 0;
    margin: 0;
    line-height: inherit;
}

a {
    @include font-link;
}

p {
    margin: $utility-baseUnitHalf 0;

    .emoji {
        width: $global-medium_fontSize;
        height: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-heading;
    margin: 0;
}

h1 {
    font-size: $global-title_fontSize;
    font-weight: $global-heading_fontWeight;
    color: $global-title_color;

    a,
    .Gloss {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    @include maxWidth {
        font-size: $global-subTitle_fontSize;
    }

    .emoji {
        width: $global-title_fontSize;
        height: auto;
    }
}

h2 {
    font-size: $global-subTitle_fontSize;

    .emoji {
        width: $global-subTitle_fontSize;
        height: auto;
    }
}

strong,
b {
    font-weight: bold;
}

abbr {
    text-underline: none;
}

// [role="heading"][aria-level="3"]
.CategoryHeading,
.Item .Title,
.Item.Read .Title,
.CategoryName h2,
.Item .TitleWrap,
[aria-level="3"] a {
    @include font-heading-link;

    a,
    .ItemContent {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        color: inherit;

        &:focus,
        &:hover {
            color: inherit;
        }
    }
}

/*=====  End of Typography  ======*/
