/*!
 * @author Isis (igraziatto) Graziatto <isis.g@vanillaforums.com>
 * @copyright 2009-2018 Vanilla Forums Inc.
 * @license GPL-2.0-only
 */

/* -------------------------------------------------------------- *\
    Variables
\* -------------------------------------------------------------- */

$breadcrumbs_fg:                                 $global-color_fg !default;
$breadcrumbs-link_fg:                            $global-color_primary !default;
$breadcrumbs-link-hover_fg:                      $global-color_primary !default;
$breadcrumbs-last_fg:                            $breadcrumbs-link_fg !default;
$breadcrumbs_textTransform:                      none !default;
$breadcrumbs-textDecoration:                     underline !default;
$breadcrumbs-hover_textDecoration:               underline !default;
$breadcrumbs_fontSize:                           $global-small_fontSize !default;
$breadcrumbs_fontWeight:                         $global-normal_fontWeight !default;
$breadcrumbs_lineHeight:                         $global-condensed_lineHeight !default;

/* -------------------------------------------------------------- *\
    Styles
\* -------------------------------------------------------------- */

.BreadcrumbsBox {
    display: block;
}

.Breadcrumbs {
    display: block;
    line-height: $global-base_lineHeight;
    text-transform: $breadcrumbs_textTransform;
    color: $breadcrumbs_fg;
    font-size: $global-small_fontSize;
    font-weight: $breadcrumbs_fontWeight;
    padding: $utility-baseUnitDouble 0;

    a {
        font-size: inherit;
        color: $breadcrumbs-link_fg;
        text-decoration: $breadcrumbs-textDecoration;

        &:focus,
        &:hover {
            color: $breadcrumbs-link-hover_fg;
            text-decoration: $breadcrumbs-hover_textDecoration;
        }
    }

    .Crumb {
        opacity: .5;
    }

    .Last a {
        color: $breadcrumbs-last_fg;

        &:focus,
        &:hover {
            color: $breadcrumbs-link-hover_fg;
            text-decoration: $breadcrumbs-hover_textDecoration;
        }
    }
}
